<%- model_class = Sandwich -%>

<div class="hero-unit">
  <h1>Welcome to Sandwich Awesomeness!</h1>
  <p>Get started with Wich-Wizard by creating a sandwich!</p>
  <p>
    <%= link_to new_sandwich_path, :class => 'btn btn-primary btn-large' do %>
      <i class="icon-edit"></i> New Sandwich Order
    <% end %>
  </p>
</div>

<div class="page-header">
  <h3>Recent Sandwich Orders</h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:type) %></th>
      <th>Ordered At</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sandwiches.each do |sandwich| %>
      <tr>
        <td><%= sandwich.sandwich_type %></td>
        <td><%=l sandwich.created_at %></td>
        <td>
          <%= link_to "View Order", sandwich_path(sandwich), :class => 'btn btn-info btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
