<%- model_class = SandwichOrder -%>

<div class="hero-unit">
  <h1>Welcome to Sandwich Awesomeness!</h1>
  <p>Get started with Wich-Wizard by creating a sandwich!</p>
  <p>
    <%= link_to new_sandwich_order_path, :class => 'btn btn-primary btn-large' do %>
      <i class="icon-edit"></i> New Sandwich Order
    <% end %>
  </p>
</div>

<div class="page-header">
  <h3>Recent Sandwich Orders</h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Ordered Date</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sandwich_orders.each do |sandwich_order| %>
      <tr>
        <td><%= sandwich_order.orderer_name %></td>
        <td><%= sandwich_order.created_at.strftime("%b %e, %l:%M %p") %></td>
        <td>
          <%= link_to "View Order", sandwich_order_path(sandwich_order), :class => 'btn btn-info btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
