<%- model_class = SandwichOrder -%>
<div class="page-header">
  <h2>Sandwich Order</h2>
</div>

<div class="row">
  <div class="span8 offset1">
    <p class="lead text-center"><%= @quote.first.html_safe %>
      <%= link_to @quote.last, :target => :_blank do %>
        <i class="icon-eye-open"></i>
      <% end %>
    </p>
  </div>
</div>

<dl class="dl-horizontal">
  <dt><strong>Order Date:</strong></dt>
  <dd><%= @sandwich_order.created_at.strftime("%b %e, %l:%M %p") %></dd>

  <dt><strong>Name:</strong></dt>
  <dd><%= @sandwich_order.orderer_name %></dd>

  <dt><strong>Breads:</strong></dt>
  <dd><%= sandwich_order_ingredients("Bread") %></dd>

  <dt><strong>Cheeses:</strong></dt>
  <dd><%= sandwich_order_ingredients("Cheese") %></dd>

  <dt><strong>Meats:</strong></dt>
  <dd><%= sandwich_order_ingredients("Meat") %></dd>

  <dt><strong>Veggies:</strong></dt>
  <dd><%= sandwich_order_ingredients("Veggie") %></dd>

  <dt><strong>Condiments:</strong></dt>
  <dd><%= sandwich_order_ingredients("Condiment") %></dd>
</dl>

<div class="well">
  <%= link_to "Back", sandwich_orders_path, :class => "btn btn-primary" %>
</div>
